.main-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 3em auto;
    flex-wrap: wrap;
}

.badges {
    text-align: center;
}
.square-div, .pill-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
button { 
    border: none;
    padding: 0.5em 1.5em;
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 500;
}
.square {
    border-radius: 4px;
    margin-bottom: 1em;
}
.pill {
    border-radius: 12px;
}
.gray {
    background: #F3F4F6;
    color: #1F2937;
}
.red {
    background: #FEE2E2;
    color: #991B1B;
}
.yellow {
    background: #FEF3C7;
    color: #92400E;
}
.green {
    background: #D1FAE5;
    color: #065F46;
}
.blue {
    background: #DBEAFE;
    color: #1E40AF;
}
.indigo {
    background: #E0E7FF;
    color: #3730A3;
}
.purple {
    background: #EDE9FE;
    color: #5B21B6;
}
.pink {
    background: #FCE7F3;
    color: #9D174D;
}
