
.cards {
    margin: 100px auto;
    width: 384px;
}

.card {
   justify-content: center;
   background: #F9FAFB;
   padding: 1em;
   border-radius: 8px;
   position: relative;
}

.card:hover {
    box-shadow: 0px 4px 25px 0px #0000001A;
}

.title-cards {
    color: #111827;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 28px;
    margin-top: 2em;
} 

.text-cards {
    font-size:1rem;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
}

.cloud-icon {
    box-shadow: 0px 4px 6px -2px #0000000D;
    background: #3F75FE;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 0.3em 0.4em;
    border-radius: 6px;
    position: absolute;
    top: -30px;
}

@media (max-width: 768px) {
    .cards-section {
        flex-direction: column;
    }
}